@use 'variables';
@use 'sass:map';
@forward 'variables';

@mixin size-h1 {
  font-size: 1.5rem;
}
@mixin size-h2 {
  font-size: 1.25rem;
}
@mixin size-h3 {
  font-size: 1.125rem;
}
@mixin size-body1 {
  font-size: 1rem;
}
@mixin size-body2 {
  font-size: 0.875rem;
}
@mixin size-caption {
  font-size: 0.75rem;
}

// -----

@mixin color-common-text-white-primary {
  color: variables.$common-text-white-primary;
}
@mixin color-common-text-white-secondary {
  color: variables.$common-text-white-secondary;
}

// -----

@mixin color-common-bg-white-primary {
  background-color: variables.$common-text-white-primary;
}

@mixin color-common-bg-green {
  background-color: variables.$common-bg-green;
}

@mixin color-common-bg-gray {
  background-color: variables.$common-bg-gray;
}

// -----

@mixin mq($breakpoint) {
  @media #{map.get(variables.$breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin container {
  max-width: 1280px;
  margin: 0 auto;
}
